

#projects {
    width: 90%;
    margin: auto;
}


.projects-main-div {
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 30px;
    width: 80%;
    margin: 20px auto;
}

.projects-main-div div {
    background-color: white;
    padding: 20px;
    border-radius:4px;
    width: 40%;
    transition: all 1s;
}

.projects-main-div div:hover {
    animation: fadeIn 2s;
}

.projects-main-div div img {
    width: 100%;
    height: 300px;
}

@media (max-width: 800px) {
    .projects-main-div {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .projects-main-div div {
        width: 100%;
    }
}