
#services {
    width: 80%;
    margin: auto;
}

.isLightTheme .service-description {
    color: black !important;
}

.isLightTheme.section-div {
    color: black;
}

.services-inner-div {
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap: 10px;
    margin: 40px auto;
}

.services-inner-div .section-div  {
    width: 19.5%;
    min-width: 200px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    transition: all .5s;
}

.services-inner-div .section-div:hover {
    transform: scale(1.1);
    cursor:pointer;
}

.services-inner-div .section-div img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.service-description {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
}

.service-description ul li {
    list-style-type:"\1F44D";
    list-style-position: inside;
    margin: 5px 0;
}

@media (max-width: 600px) {
    #services {
        width: 95%;
    }

    .services-inner-div {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .services-inner-div .section-div  {
      width: 90%;
    }

    .services-inner-div .section-div img {
        width: 100%;
    }
}

/* @media (min-width: 600px) {
    .services-inner-div {
       display: flex;
       flex-wrap: wrap;
       width: 80%;
    }
    
    .services-inner-div .section-div  {
     width: 35%;
    }

    .services-inner-div .section-div img {
        width: 100%;
    }
} */